{% extends 'main/base.html' %}

{% block title %}Мои заявки{% endblock %}

{% block content %}
    <h1>Мои заявки</h1>
    <a href="{% url 'main:application_create' %}">Создать новую заявку</a>
    <div class="application-list">
        {% for application in applications %}
            <div class="application-item"> <!-- Класс для рамки -->
                <h2>{{ application.title }}</h2>
                <p>{{ application.description }}</p>
                <p><strong>Статус:</strong> {{ application.status }}</p>

                <div class="application-image">
                    {% if application.image %}
                        <img src="{{ application.image.url }}" alt="{{ application.title }}">
                    {% else %}
                        <p>Изображение не загружено.</p>
                    {% endif %}
                </div>

                <a class="delete-button" href="{% url 'main:application_delete' application.id %}">Удалить заявку</a>
            </div>
        {% empty %}
            <p>У вас нет заявок.</p>
        {% endfor %}
    </div>
{% endblock %}