{% extends 'main/base.html' %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h1>Добро пожаловать в Design.pro</h1>

    <h2>Последние завершенные заявки</h2>
    <ul>
        {% for application in completed_applications %}
            <li>
                <strong>{{ application.title }}</strong><br>
                {% for category in application.categories_with_status %}
                    {{ category.name }} ({{ category.categorystatus.status }}){% if not forloop.last %}, {% endif %}
                {% endfor %}
                <br>
                {% if application.image %}
                    <img src="{{ application.image.url }}" alt="{{ application.title }}" width="500"><br>
                {% else %}
                    <p>Изображение не загружено.</p>
                {% endif %}
                Время добавления: {{ application.created_at }}<br>
            </li>
        {% empty %}
            <li>Нет завершенных заявок.</li>
        {% endfor %}
    </ul>

    <h2>Количество заявок в работе: {{ in_progress_count }}</h2>
{% endblock %}